<h1>Update Movie Details</h1>

<%= simple_form_for @movie, html: {multipart: true} do |f| %>

  <%# Use select_tag to display dropdown of categories list populated in the controller %>
  <%= f.select :category_id, @categories %>
  <%= f.file_field :movie_img %>
  <%= f.input :title, label: "Movie's Name" %>
  <%= f.input :description %>
  <%= f.input :director, label: "Director's Name" %>
  <%= f.input :release_date, start_year: Date.today.year - 90,
                              end_year: Date.today.year + 2,
                              order: [:day, :month, :year] %>
  <%= f.button :submit %>
<% end %>