<h2><%= @movie.title %></h2>

<div class="row">
    <h4 class="col-md-4"><strong>Category : </strong><%= @movie.category.name %></h4>
    <h4 class="col-md-4"><strong>Released on </strong><%= @movie.release_date.to_formatted_s(:long) %></h4>
</div>

<h4><strong>Directed by </strong><%= @movie.director %></h4>


<p><%= @movie.description %></p>

<div class="links btn-group">
    <% if user_signed_in? %>
        <%# Nested if's because if someone has not signed in, current_user.id will be nil and it will throw an error %>
        <% if @movie.user_id == current_user.id %>
            <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-primary" %>
            <%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
        <% end %>
    <% end %>
</div>
