<h2><%= @movie.title %></h2>
<h3><%= @movie.release_date %></h3>
<h3><%= @movie.director %></h3>
<h4><%= @movie.description %></h4>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_movie_path(@movie) %>
<%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" } %>